@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 60.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .heading-2 {
    @apply text-3xl font-semibold transition-colors first:mt-0;
  }

  .heading-3 {
    @apply scroll-m-20 text-lg md:text-2xl font-semibold;
  }

  .heading-4 {
    @apply scroll-m-20 text-base font-medium;
  }

  .bg-radial {
    background-image: radial-gradient(
      ellipse 80% 50% at 50% -20%,
      rgba(48, 82, 120, 0.5),
      rgba(25, 8, 43, 0.1)
    );
  }

  .skeleton-3 {
    @apply bg-gray-100 dark:bg-gray-800 animate-pulse text-transparent;
  }

  .skeleton-2 {
    @apply bg-gray-200 dark:bg-gray-700 animate-pulse text-transparent;
  }

  .skeleton-1 {
    @apply bg-gray-300 dark:bg-gray-600 animate-pulse text-transparent;
  }

  .skeleton-xs {
    @apply rounded-md my-1 h-2;
  }

  .skeleton-base {
    @apply rounded-md my-1.5 h-2;
  }

  .skeleton-lg {
    @apply rounded-md my-3.5 h-3;
  }

  .skeleton-3xl {
    @apply rounded-md my-2.5 h-4;
  }

  .skeleton-h2 {
    @apply skeleton-3xl;
  }

  .skeleton-h3 {
    @apply rounded-md my-2.5 h-3;
  }

  .skeleton-h5 {
    @apply rounded-md my-2 h-2;
  }

  .surface-1 {
    @apply backdrop-blur-2xl bg-gray-800/20;
  }
}

@layer utilities {
  .grid-stack {
    grid-template-areas: "stack";

    & > * {
      grid-area: stack;
    }
  }

  .handle {
    user-select: none;
    cursor: move;
    & > svg {
      pointer-events: none;
    }
  }
}
